.footer-bottom {
  background: #b0acac;
  width: var(--nav-width);
  height: var(--nav-height);
  z-index: 10;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-bottom-container {
  background-color: #ffffff;
  opacity: 70%;
}

.footer-bottom-main {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Bambino-Bold";
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.footer-bottom-main div {
  font-size: 1.5rem;
}

.footer-bottom-left {
  text-align: start;
}
.footer-bottom-middle {
  text-align: center;
}
.footer-bottom-right {
  text-align: end;
}
.footer-bottom-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .footer-bottom-main div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .footer-bottom {
    min-height: 200px;
  }
  .footer-bottom-main {
    display: block;
    text-align: center;
    height: 200px;
    padding-top: 2rem;
  }
  .footer-bottom-main h3 {
    font-size: 1rem;
  }
  .footer-bottom-left,
  .footer-bottom-middle,
  .footer-bottom-right {
    text-align: center;
    font-size: 0.5rem;
  }
  .footer-bottom-left,
  .footer-bottom-middle {
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .footer-bottom-right,
  .footer-bottom-left {
    display: none;
  }
  .footer-bottom-mobile {
    display: block;
  }
  .footer-bottom {
    min-height: 130px;
  }
  .footer-bottom-main {
    padding-top: 1.5rem;
    height: 130px;
  }
}
